<html>
<head>
	<title>IoT Device</title>
</head>
<body>
	<h1>IoT Device</h1>
	
	<h2>Tech Private Key Upload (Only Encrypted)</h2>
	<ul> <li> <a href='/tech-key-upload'>Upload Tech Key</a> </li> </ul>

	
	<h3> Generate CSR for device {{ device_num }}</h3>
    <ul> <li> <a href='/generate-csr'>Generate CSR</a> </li> </ul>

	<h4> Send CSR to CA </h4>
    <ul> <li> <a href='/send-csr'>Send CSR to CA</a> </li> </ul>
    
</body>
</html>