<!DOCTYPE html>
<html lang="en">
<head>
    <title>TG to IPFS Publishing Dashboard</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h3>TG to IPFS Publishing Dashboard</h3>
    <form enctype="multipart/form-data" method = "post">
        <table id="certificate">
            <thead>
            <tr>
                <th>Certificate</th>
                <th>Publish to IPFS</th>
            </tr>
            </thead>
            <tbody>
                {% for item in miss_certs %}
                <tr>
                    <td>{{ item }}</td>
                    <td><button name="crt_filename" type="submit" value="{{ item }}">Add</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</body>
</html>