<html>
<head>
	<title>UniMe CA</title>
</head>
<body>
	<h1>UniMe Certification Authority</h1>
	
	<h2>CA Public Certificate</h2>
	<ul>
		<li><a href="{{ ca_certificate }}" download="UniMe_CA.pem">CA x509 certificate</a></li>
	</ul>
	
	<h3> Technical Login </h3>
    <ul> <li> <a href="{{ tech_certificate }}" download="UniMe_TECH.pem">Download Technician certificate</a> </li> </ul>
    
	<h3> Interact with Trusted Gateway </h3>
    <ul> 
		<li> <a href='/tg-pub-dashboard'>Listing certificates in Trusted Gateway</a> </li> 
		<li> <a href='/test-tg-conn'>Test di connessione al Trusted Gateway</a> </li>
    </ul>
</body>
</html>